body {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

input {
    border: 2px solid white;
    border-radius: 4px;
    background-color: #a1c0ff;
}

#form {
    width: 50%;
    margin: auto;
}